extends layout

block content 
    h1 #{ title}
    form(action=`/articles/edit/${article._id}`, method="POST")
        #form-group
            label(for="title") Title
            input.form-control(name="title" type="text" value=article.title )
        #form-group
            label(for="author") Author
            input.form-control(name="author" type="text" value=article.author )
        #form-group
            label(for="boby") Body
            textarea.form-control(name="body" type="text"  )  #{article.body}
        br
        input.btn.btn-primary(type='submit', value="Save")